@model DynamicFields.Models.EditFieldViewModel

@{
    ViewBag.Title = "Edit field";
}

<h2>Edit field</h2>

@using (Html.BeginForm("Edit", "Fields", new {@class = "form"}))
{
    @Html.Partial("_Edit", Model)
    <input type="submit" class="btn btn-default" value="Save" />
}