@model DynamicFields.Models.LoginViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new {style = "margin-top: 50px"}))
        {
            @Html.LabelFor(m => m.Id, "Select user:")
            @Html.DropDownListFor(m => m.Id, Model.Users, new {@class = "form-control"})

            <br/>
            <input type="submit" value="LOG IN" class="btn btn-info form-control"/>
        }
    </div>
</div>