@model DynamicFields.Models.EditFormViewModel

@{
    ViewBag.Title = "Edit form";
}

<h2>Add form</h2>

@using (Html.BeginForm("Add", "Forms", new {@class = "form"}))
{
    @Html.Partial("_Edit", Model)
    <input type="submit" class="btn btn-default" value="Create" />
}