@using Newtonsoft.Json
@model DynamicFields.Models.EditFormViewModel

@{
    ViewBag.Title = "Edit form";
    var form = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div ng-app="form" ng-controller="EditForm as c" ng-cloak>
    <div class="row">
        <div>
            <h2 class="col-sm-8">Edit '{{ c.form.Name }}' form</h2>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-info form-control" ng-click="c.save()">SAVE</a>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label>Name</label>
            <input type="text" ng-model="c.form.Name" class="form-control"/>
        </div>
        <div class="form-group col-sm-8">
            <label>Description</label>
            <input type="text" ng-model="c.form.Description" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div>
            <h4 class="col-sm-12">Form fields</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a ng-click="c.addHeadline()" href="#" class="list-group-item active">
                    Add headline
                </a>
            </div>
            <div class="list-group">
                <span class="list-group-item active">
                    Add field
                </span>
                <a ng-click="c.addField(f)" href="#" class="list-group-item" ng-repeat="f in c.form.Fields.DbFields" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                    {{ f.Name }}
                </a>
            </div>
        </div>
        
        <div class="col-sm-9">
            <div ng-repeat="f in c.form.FormFields">
                type: {{ f.FieldType }}
                label: <input type="text" ng-model="f.Label" class="form-control" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var form = @Html.Raw(form);
        var saveFormUrl = '@Url.Action("Update")';
    </script>
}